.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  user-select: none;

  .input-group {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 285px;
      padding: 14px 20px;
      border-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      font-size: larger;
      

      &::placeholder {
        color: #1f406599;
        // font-family: "Montserrat";
        font-style: normal;
      }

      &:not(:placeholder-shown) {
        color: #1f4065;
        // font-family: "Montserrat";
        font-style: normal;
      }
    }
  }

  .icons {
    position: absolute;
    color: #1f4065;
    top: 20%;
    left: 85%;
    z-index: 1;
  }

  .role-selection {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button:nth-child(1) {
      cursor: pointer;
      color: #fff;
      width: calc(100% - 1px);
      padding: 14px 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      font-size: larger;

      &.active {
        background: linear-gradient(
      268.29deg,
      #1f4065 24.2%,
      #4581b6 102.72%
    );
  }
      &:hover {
        background: linear-gradient(270deg,
            #1f4065 0%,
            rgba(0, 0, 0, 0.1) 100%);
      }
    }

    button:nth-child(2) {
      cursor: pointer;
      color: #fff;
      width: calc(100% - 1px);
      padding: 14px 20px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      font-size: larger;

      &:hover {
        background: linear-gradient(270deg,
            #1f4065 0%,
            rgba(0, 0, 0, 0.1) 100%);
      }

      &.active {
        background: linear-gradient(268.29deg,
            #1f4065 24.2%,
            #4581b6 102.72%);
      }
    }
  }

  .sign-in-button {
    width: 330px;
    margin-bottom: 5px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    // font-family: "Montserrat";
    font-style: normal;
    font-size: larger;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

  }

  .dont-have-account {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    color: #1f4065;
    font-size: larger;
    // font-family: "Montserrat";
    font-style: normal;

    a {
      margin-left: 5px;
      text-decoration: none;
      color: #1f4065;
      font-weight: bold;
      transition: color 0.3s ease;

    }
  }
}