.reflect-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 18%;
  left: 3%;
}

.input-group-reflect {
  position: relative;
  width: 280px;
  margin-left:50px;
}
.input-reflect{
  width: calc(100% - 1px);
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);

  font-size: larger;
}

.input-reflect::placeholder {
  color: #1f406599;
  width: 280px;
  font-style: normal;
}

.input-reflect:not(:placeholder-shown) {
  color: #1f4065;
  width: 280px;

  font-style: normal;
}

.invisible {
  height: fit-content;
  width: fit-content;
  background: none;
  outline: none;
  position: absolute;
  top: 15%;
  left: 2.5%;

  &:hover {
    background: none;
  }
}

button {
  width: 320px;
}
.symbols {
  color: #1f4065;
  position: absolute;
  left: 100%;
  top: 25%;
}
.eye {
  cursor: pointer;
  color: #1f4065;
  position: absolute;
  top: 25%;
  left: 450%;
}
.first-row{
  display: flex;
  // background-color: #1f4065;
  flex-direction: row;

   width: 700px;
}
.second-row{
  display: flex;
  // background-color: #1f4065;
  flex-direction: row;

   width: 700px;
}
.third-row{
  display: flex;
  // background-color: #1f4065;
  flex-direction: row;
   width: 700px;
   button{
    background-color: #1f4065;
    margin-left: 50px;
   }
}

