.reflect-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;

  // width: calc(100% - 5px);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: calc(100% - 1px);
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0,
      0,
      0,
      0.2);
  /* Setting input background to transparent black */
  // margin-bottom: 10px;
  font-size: larger;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: #1f406599;
  padding-left: 20px;
  // font-family: "Montserrat";
  font-style: normal;
  // text-shadow: 1px 1px 2px white ; /* Add white shadow effect */
}

input[type="text"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown) {
  color: 1f4065;
  // font-family: "Montserrat";
  font-style: normal;
  padding-left: 30px;
}


.invisible {
  height: fit-content;
  width: fit-content;
  background: none;
  outline: none;
  position: absolute;
  top: 15%;
  left: 2.5%;

  &:hover {
    background: none
  }
}

// button:hover {
//   background: linear-gradient(
//     268.29deg,
//     rgba(166, 0, 207, 0.21) 24.2%,
//     rgba(143, 151, 220, 0.21) 102.72%
//   );
// }
.icons {
  position: absolute;
  z-index: 0;
  color: #1f4065;
  top: 20%;
  left: 3%;
}