.reflect-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-group {
  position: relative;
  width: 280px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 1px);
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);

  font-size: larger;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #1f406599;
  width: 280px;
  font-style: normal;
}

input[type="text"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown) {
  color: #1f4065;
  width: 280px;

  font-style: normal;
}

.invisible {
  height: fit-content;
  width: fit-content;
  background: none;
  outline: none;
  position: absolute;
  top: 15%;
  left: 2.5%;

  &:hover {
    background: none;
  }
}

button {
  width: 320px;
}
.symbols {
  color: #1f4065;
  position: absolute;
  left: 100%;
  top: 25%;
}
.eye {
  cursor: pointer;
  color: #1f4065;
  position: absolute;
  top: 25%;
  left: 450%;
}
