.popUp {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 10px;
    color: rgba($color: #fff, $alpha: 0.8);
}