.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  user-select: none;
  height: max-content;
  width: 300px;
  height: 55%;
  position: absolute;
  top: 20%;


  .input-group {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: flex-start;

    input[type="text"],
    input[type="email"] {
      padding: 14px 25px;
      border-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      font-size: larger;

      &::placeholder {
        color: #1f406599;
        // font-family: "Montserrat";
        font-style: normal;
      }

      &:not(:placeholder-shown) {
        color: #1f4065;
        // font-family: "Montserrat";
        font-style: normal;
      }
    }
  }

  button {
    width: 290px;
    margin-bottom: 5px;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: #1f4065;
    color: #ffffff;
    // text-shadow: 1px 1px 7px white; /* Add white shadow effect */
    // font-family: "Montserrat";
    font-style: normal;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: linear-gradient(268.29deg,
          #1f4065 24.2%,
          #4581b6 102.72%);
    }
  }

  .icons {
    position: absolute;
    color: #1f4065;
    top: 20%;
    left: 85%;
  }
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#root>div>div:nth-child(3)>div>div>span {
  width: 290pxs;
}

// button:hover {
//   background-color: rgba(56, 0, 56, 0.9);
//   /* Hover color for the button */
// }