.charge-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // background-color: #1f4065;
  height: 60%;
  position: absolute;
  top: 20%;
  width: fit-content;
}


.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  width: calc(100% - 1px);
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Setting input background to transparent black */
  margin-bottom: 10px;
  font-size: larger;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder
 {
  color: #1f406599;
  padding-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
}
input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown)
 {
  color: #1f4065;
  font-family: "Montserrat";
  font-style: normal;
  padding-left: 30px;
}

.passsymbols {
  color: #1f4065;
  cursor: pointer;
  position: absolute;
  left: 430%;
  top: 30%;
}
.chargebutton{
  margin-bottom: 30px;
  margin-top: 10px;
}
.pass-charge{
    width: 550px;
}
.symbols{
  left: 85%;
}
.symbols.wallet-icon{
  color: #1f4065;
  
}
