.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  user-select: none;


  
  .input-group {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content:flex-start;
    input[type="text"],
    input[type="email"] {
      padding: 14px 25px;
      border-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      font-size: larger;

      &::placeholder {
        color: #1f406599;
        // font-family: "Montserrat";
        font-style: normal;
      }

      &:not(:placeholder-shown) {
        color: #1f4065;
        // font-family: "Montserrat";
        font-style: normal;
      }
    }
  }


  .icons {
    position: absolute;
    color: #1f4065;
    top: 20%;
    left: 85%;
  }
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
