.parking-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;

  // width: calc(100% - 5px);
}

input[type="text"],
input[type="email"] {
  // width: calc(100% - 1px);
  width: 280px;
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Setting input background to transparent black */
  margin-bottom: 10px;
  font-size: larger;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #1f406599;
  padding-left: 20px;
  // font-family: "Montserrat";
  font-style: normal;
  // text-shadow: 1px 1px 2px #1f4065 ; /* Add white shadow effect */
}
input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown) {
  color: #1f4065;
  // font-family: "Montserrat";
  font-style: normal;
  padding-left: 30px;
}
.icons {
  position: absolute;
  z-index: 0;
  color: #1f4065;
  top: 20%;
  left: 3%;
}

/* Style the Select component */
.MuiSelect-root {
  width: 320px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-size: larger;
  color: #1f4065;
  font-style: normal;

  padding-left: 30px;
  & svg {
    color: #1f4065;
  }
}

/* Style the placeholder text in the Select */
.MuiSelect-select.MuiSelect-select {
  color: #1f4065;
  font-style: normal;
  padding-left: 20px;
}

/* Style the dropdown menu items */
.MuiList-root {
  background-color: rgba(0, 0, 0, 0.2);
  color: #1f4065;
  font-style: normal;
}
.customid{
  width: 300px;
  background-color: #1f4065;
}